@{
    ViewBag.Title = "Home Page";
}
<!-- Slider Area Start -->
<div class="slider-area">
    <!-- Slider Area Start Here -->
    <div class="slider-activation owl-carousel">
        <!-- Start Single Slide -->
        <div class="slide align-center-left fullscreen animation-style-01 bg-image-1 ">
            <div class="slider-progress"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-content">
                            <h1>Professional Skin Whitening</h1>
                            <h2>Creams of 2019</h2>
                            <p>
                                Extra peedling, an effective and excellent formulation of fresh fruit-natural
                                pear and
                                vitamin C. Click to Shop Now or Check something else
                            </p>
                            <div class="slide-btn putty-color">
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide align-center-left fullscreen animation-style-02 bg-image-2">
            <div class="slider-progress"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-content">
                            <h1>Argan Oil A Beauty</h1>
                            <h2>Secret Dating Back Over</h2>
                            <p>
                                Extra peedling, an effective and excellent formulation of fresh fruit-natural
                                pear and
                                vitamin C. Click to Shop Now or Check something else
                            </p>
                            <div class="slide-btn putty-color">
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
    <!-- Slider Area End Here -->
</div>
<!-- Slider Area End -->
<!--  Top Banner Area Start -->
<div class="banner-area pt-20 pb-90">
    <div class="container">
        <div class="row">
            <!--  Single Banner Area Start -->
            <div class="col-lg-4 col-md-4 mb-sm-30">
                <div class="single-banner zoom">
                    <a href="shop.html">
                        <img src="~/Assets/User/img/banner/cosmetic/1-1.jpg" alt="banner-img">
                    </a>
                </div>
            </div>
            <!--  Single Banner Area End -->
            <!--  Single Banner Area Start -->
            <div class="col-lg-4 col-md-4 mb-sm-30">
                <div class="single-banner zoom">
                    <a href="shop.html">
                        <img src="~/Assets/User/img/banner/cosmetic/1-2.jpg" alt="banner-img">
                    </a>
                </div>
            </div>
            <!--  Single Banner Area End -->
            <!--  Single Banner Area Start -->
            <div class="col-lg-4 col-md-4">
                <div class="single-banner zoom">
                    <a href="shop.html">
                        <img src="~/Assets/User/img/banner/cosmetic/1-3.jpg" alt="banner-img">
                    </a>
                </div>
            </div>
            <!--  Single Banner Area End -->
        </div>
    </div>
</div>
<!--  Top Banner Area End -->
<!-- New Arrival Products Start Here -->
<div class="new-arrival no-border-style ptb-90">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title text-center">
            <h2>new arrivals</h2>
            <p>Add our new arrivals to your weekly lineup</p>
        </div>
        <!-- Section Title End -->
        <div class="our-pro-active owl-carousel">
            <!-- New Arrival Dual Products Start Here -->
            <div class="dual-pro">
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/1.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Modern Eye Brush</a>
                        </h4>
                        <p>
                            <span class="price">$45.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/2.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Sprite Yoga Straps1</a>
                        </h4>
                        <p>
                            <span class="price">$65.00</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
            </div>
            <!-- New Arrival Dual Products End Here -->
            <!-- New Arrival Dual Products Start Here -->
            <div class="dual-pro">
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/3.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Voyage face cleaner</a>
                        </h4>
                        <p>
                            <span class="price">$61.21</span>
                            <span class="prev-price">$64.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/4.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Fusion facial cream</a>
                        </h4>
                        <p>
                            <span class="price">$72.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
            </div>
            <!-- New Arrival Dual Products End Here -->
            <!-- New Arrival Dual Products Start Here -->
            <div class="dual-pro">
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/5.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Impulse Duffle</a>
                        </h4>
                        <p>
                            <span class="price">$45.50</span>
                            <span class="prev-price">$30.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/6.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Field Messenger</a>
                        </h4>
                        <p>
                            <span class="price">$55.50</span>
                            <span class="prev-price">$59.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
            </div>
            <!-- New Arrival Dual Products End Here -->
            <!-- New Arrival Dual Products Start Here -->
            <div class="dual-pro">
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/12.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Impulse Duffle</a>
                        </h4>
                        <p>
                            <span class="price">$45.50</span>
                            <span class="prev-price">$30.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/10.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Eye Messenger</a>
                        </h4>
                        <p>
                            <span class="price">$55.50</span>
                            <span class="prev-price">$59.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
            </div>
            <!-- New Arrival Dual Products End Here -->
            <!-- New Arrival Dual Products Start Here -->
            <div class="dual-pro">
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/7.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Impulse Duffle</a>
                        </h4>
                        <p>
                            <span class="price">$45.50</span>
                            <span class="prev-price">$30.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/11.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Field Messenger</a>
                        </h4>
                        <p>
                            <span class="price">$55.50</span>
                            <span class="prev-price">$59.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
            </div>
            <!-- New Arrival Dual Products End Here -->
            <!-- New Arrival Dual Products Start Here -->
            <div class="dual-pro">
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/8.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Impulse Duffle</a>
                        </h4>
                        <p>
                            <span class="price">$45.50</span>
                            <span class="prev-price">$30.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
                <!-- Single Product Start Here -->
                <div class="single-makal-product">
                    <div class="pro-img">
                        <a href="product-details.html">
                            <img src="~/Assets/User/img/products/cosmetic/9.jpg" alt="product-img">
                        </a>
                        <span class="sticker-new">new</span>
                        <span class="sticker-sale">-5%</span>
                        <div class="quick-view-pro">
                            <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4 class="pro-title">
                            <a href="product-details.html">Field Messenger</a>
                        </h4>
                        <p>
                            <span class="price">$55.50</span>
                            <span class="prev-price">$59.50</span>
                        </p>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                            </div>
                            <div class="actions-secondary">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product End Here -->
            </div>
            <!-- New Arrival Dual Products End Here -->
        </div>
    </div>
</div>
<!-- New Arrival Products End Here -->
<!-- Our Best Seller Product Start Here -->
<div class="our-product pt-90">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title text-center">
            <h2>Our Best Sellers</h2>
            <p>
                Browse the collection of our products and top interresting products.ll definitely find what you
                are looking
                for.
            </p>
        </div>
        <!-- Section Title End -->
        <div class="our-pro-active owl-carousel">
            <!-- Single Product Start Here -->
            <div class="single-makal-product">
                <div class="pro-img">
                    <a href="product-details.html">
                        <img src="~/Assets/User/img/products/cosmetic/1.jpg" alt="product-img">
                    </a>
                    <span class="sticker-new">new</span>
                    <div class="quick-view-pro">
                        <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                    </div>
                </div>
                <div class="pro-content">
                    <h4 class="pro-title">
                        <a href="product-details.html">Modern Eye Brush</a>
                    </h4>
                    <p>
                        <span class="price">$45.50</span>
                    </p>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product End Here -->
            <!-- Single Product Start Here -->
            <div class="single-makal-product">
                <div class="pro-img">
                    <a href="product-details.html">
                        <img src="~/Assets/User/img/products/cosmetic/4.jpg" alt="product-img">
                    </a>
                    <span class="sticker-new">new</span>
                    <span class="sticker-sale">-5%</span>
                    <div class="quick-view-pro">
                        <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                    </div>
                </div>
                <div class="pro-content">
                    <h4 class="pro-title">
                        <a href="product-details.html">Fusion facial cream</a>
                    </h4>
                    <p>
                        <span class="price">$72.50</span>
                    </p>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product End Here -->
            <!-- Single Product Start Here -->
            <div class="single-makal-product">
                <div class="pro-img">
                    <a href="product-details.html">
                        <img src="~/Assets/User/img/products/cosmetic/6.jpg" alt="product-img">
                    </a>
                    <span class="sticker-new">new</span>
                    <span class="sticker-sale">-5%</span>
                    <div class="quick-view-pro">
                        <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                    </div>
                </div>
                <div class="pro-content">
                    <h4 class="pro-title">
                        <a href="product-details.html">Eye Messenger</a>
                    </h4>
                    <p>
                        <span class="price">$55.50</span>
                        <span class="prev-price">$59.50</span>
                    </p>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product End Here -->
            <!-- Single Product Start Here -->
            <div class="single-makal-product">
                <div class="pro-img">
                    <a href="product-details.html">
                        <img src="~/Assets/User/img/products/cosmetic/10.jpg" alt="product-img">
                    </a>
                    <span class="sticker-new">new</span>
                    <span class="sticker-sale">-5%</span>
                    <div class="quick-view-pro">
                        <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                    </div>
                </div>
                <div class="pro-content">
                    <h4 class="pro-title">
                        <a href="product-details.html">Sunsine Cream</a>
                    </h4>
                    <p>
                        <span class="price">$55.50</span>
                        <span class="prev-price">$59.50</span>
                    </p>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product End Here -->
            <!-- Single Product Start Here -->
            <div class="single-makal-product">
                <div class="pro-img">
                    <a href="product-details.html">
                        <img src="~/Assets/User/img/products/cosmetic/11.jpg" alt="product-img">
                    </a>
                    <span class="sticker-new">new</span>
                    <span class="sticker-sale">-5%</span>
                    <div class="quick-view-pro">
                        <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                    </div>
                </div>
                <div class="pro-content">
                    <h4 class="pro-title">
                        <a href="product-details.html">Field Messenger</a>
                    </h4>
                    <p>
                        <span class="price">$55.50</span>
                        <span class="prev-price">$59.50</span>
                    </p>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product End Here -->
            <!-- Single Product Start Here -->
            <div class="single-makal-product">
                <div class="pro-img">
                    <a href="product-details.html">
                        <img src="~/Assets/User/img/products/cosmetic/9.jpg" alt="product-img">
                    </a>
                    <span class="sticker-new">new</span>
                    <span class="sticker-sale">-5%</span>
                    <div class="quick-view-pro">
                        <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                    </div>
                </div>
                <div class="pro-content">
                    <h4 class="pro-title">
                        <a href="product-details.html">Tolltip Eyejel</a>
                    </h4>
                    <p>
                        <span class="price">$55.50</span>
                        <span class="prev-price">$59.50</span>
                    </p>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="cart.html" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product End Here -->
        </div>
    </div>
</div>
<!-- Our Best Seller Product End Here -->


