@model  LynsCosmetics_Connection.Table_SanPham

<td class="product-thumbnail">
    <a href="#"><img src="~/Assets/User/img/products/cosmetic/@Model.HinhMinhHoa" alt="cart-image" /></a>
</td>
<td class="product-name">
    <a href="#">@Model.TenSanPham</a>
</td>
<td class="product-price"><span class="amount">@Model.GiaBan</span></td>

