<header class="header-style-five">
    <!-- Header Top Start Here -->
    <div class="header-top">
        <div class="container">
            <div class="col-sm-12">
                <div class="row justify-content-lg-between justify-content-center">
                    <!-- Header Top Left Start -->
                    <div class="header-top-left order-2 order-lg-1">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-phone"></i> 0977359131</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope-open-o"></i> lethimailinhhup@gmail.com</a>
                            </li>
                            <li>
                                <ul class="social-icon">
                                    <li>
                                        <a href="https://www.facebook.com/LeeLynSkinCareForBetterLife/">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Header Top Left End -->
                    <!-- Header Top Right Start -->
                    <div class="header-top-right order-1 order-lg-2">
                        <ul>
                            
                            <li>
                                <a href="#">
                                    Setting
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <!-- Dropdown Start -->
                                <ul class="ht-dropdown">
                                    <li>
                                        <a href="cart.html">My orders</a>
                                    </li>
                                    <li>
                                        <a href="account.html">My account</a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html">My wishlist</a>
                                    </li>
                                    <li>
                                        <a href="login.html">Sign in</a>
                                    </li>
                                </ul>
                                <!-- Dropdown End -->
                            </li>
                        </ul>
                    </div>
                    <!-- Header Top Right End -->
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Top End Here -->
 
</header>
