@model IEnumerable<LynsCosmetics_Connection.Table_ThuongHieu>  
<li>
    <a class="drop-icon" href="#">Brand</a>
    <!--  Mega-Menu Start -->
    <ul class="ht-dropdown megamenu megamenu-three ">
        <!-- Single Column Start -->
        <li>
            
            <table>
                @foreach (var item in Model)
                {
                <tr>
                    <td><a href="@Url.Action("Index","ThuongHieu",new { id=item.MaThuongHieu})"><img src="~/Assets/User/img/products/cosmetic/@item.LogoTH" width="50px" height="50px" /></a></td>
                    <td><a href="@Url.Action("Index","ThuongHieu",new { id=item.MaThuongHieu})">@item.TenThuongHieu</a></td>
                </tr>
                }
                </table>
        </li>
        <!-- Single Column End -->
    </ul>
    <!-- Mega-Menu End -->
</li>
